# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Lambda packages
lambda/*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
/scatter/builds/
/saga-orchestration/lambda/cancel-order.zip
/saga-orchestration/lambda/charge-payment.zip
/saga-orchestration/lambda/create-order.zip
/saga-orchestration/lambda/refund-payment.zip
/saga-orchestration/lambda/release-inventory.zip
/saga-orchestration/lambda/reserve-inventory.zip
/saga-orchestration/lambda/charge-payment.zip
/saga-orchestration/builds/
transactional-outbox/builds/0b18e1b9146ad1e9d7c1d2924183bbb4fdf1d689034aa314a4c0bb8d66525705.zip
transactional-outbox/builds/73d37b6fa6bb6436cb5f9465dfad1cbbed50b56f917e8a95b87ac9b7ef8ffcdf.zip
transactional-outbox/builds/fd81925bde5d47b86468a03ea435de0fe6ed2be60d3d2257e22ab8d7c4bbe462.zip
transactional-outbox/builds/0b18e1b9146ad1e9d7c1d2924183bbb4fdf1d689034aa314a4c0bb8d66525705.plan.json
transactional-outbox/builds/73d37b6fa6bb6436cb5f9465dfad1cbbed50b56f917e8a95b87ac9b7ef8ffcdf.plan.json
transactional-outbox/builds/fd81925bde5d47b86468a03ea435de0fe6ed2be60d3d2257e22ab8d7c4bbe462.plan.json
transactional-outbox/lambda/outbox-processor.zip
transactional-outbox/lambda/notification-service.zip
transactional-outbox/lambda/order-service.zip
transactional-outbox/builds/e2b38fff9534cff0d6f28e8c8bb0bcba1f558ddad2235631bcaa7b1e53664e93.plan.json
transactional-outbox/builds/e2b38fff9534cff0d6f28e8c8bb0bcba1f558ddad2235631bcaa7b1e53664e93.zip
/lambda/fulfillment-service.zip
/lambda/inventory-service.zip
/lambda/notification-service.zip
/lambda/order-service.zip
/lambda/payment-service.zip
/saas-multitenant/modules/shared/api-handler/node_modules/
/saas-multitenant/builds/
/choreography/builds/
