# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Lambda packages
lambda/*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
/scatter/builds/
/saga/lambda/cancel-order.zip
/saga/lambda/charge-payment.zip
/saga/lambda/create-order.zip
/saga/lambda/refund-payment.zip
/saga/lambda/release-inventory.zip
/saga/lambda/reserve-inventory.zip
/saga/lambda/charge-payment.zip
